<div class="row">
        <link rel="stylesheet" href="../css/styles.css">
    <div class="col-md-5"></div>
    <div class="col-md-5">
        <h1 id="titre">Search Tiger</h1>
        <h4 id="italic">Aussi rapide qu'un félin</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2">
        <img src="../Tiger.png" alt="Whales - logo" style="width:50%;height:60%;">
    </div>
    <a href="/#!/similar" class="btn btn-info" role="button">Search by similar author</a>

    <br><br><br>
    <div class="col-md-9">
        <div class="col-md-2">
            <input type="text" class="form-control" ng-model="query" title="Search" placeholder="Subject"/>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" ng-model="labo" title="Laboratory" placeholder="Laboratory"/>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" ng-model="univ" title="University" placeholder="University"/>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" ng-model="coAuthor" title="Co-author" placeholder="Co-author"/>
        </div>
        <div class="col-md-2">
            <input type="submit" ng-click="submit()" class="btn btn-primary"/>
        </div>
    </div>
</div>

<div class="row">
    <ul>
        <li ng-repeat="doc in docs">
            {{doc.docid}} : {{ doc.title_s}} par {{ doc.authFullName_s}}
        </li>
    </ul>
</div>
